[Unit]
Description=Gunicorn daemon for {{ host }}
Before=nginx.service
After=network.target

[Service]
WorkingDirectory=/var/www/{{ host }}
ExecStart={{ site_directory }}/virtualenv/bin/gunicorn \
  --name {{ host }} \
  --pythonpath /var/www/{{ host }} \
  --bind unix:/tmp/gunicorn-{{ host }}.socket \
  --log-file /var/www/{{ host }}/gunicorn-{{ host }}.log \
  --config /etc/gunicorn.d/gunicorn.py app
Restart=always
SyslogIdentifier=gunicorn-{{ host }}
User=www-data
Group=www-data

[Install]
WantedBy=multi-user.target
