[Unit]
Description=Gunicorn daemon for {{ host }}
Before=nginx.service
After=network.target

[Service]
WorkingDirectory=/var/www/{{ host }}
ExecStartPre=/var/www/{{ host }}/reset_db.sh
ExecStart=/var/www/{{ host }}/virtualenv/bin/gunicorn \
  --worker-class gevent \
  --name {{ host }} \
  --bind unix:/tmp/gunicorn-{{ host }}.socket \
  --log-file /var/www/{{ host }}/gunicorn-{{ host }}.log \
  app
Restart=always
SyslogIdentifier=gunicorn-{{ host }}
User=www-data
Group=www-data

[Install]
WantedBy=multi-user.target
