#jinja2: trim_blocks: False
#jinja2: lstrip_blocks: True

# Automatically redirect all http traffic to https
server {
	listen 80 default_server;
	listen [::]:80 default_server;

	server_name _;

	return 301 https://$host$request_uri;
}
