<section id="chat">
  <div id="chat-management">
    Chat<div id="chat-minimize" onclick="closeChat()">-</div>
  </div>
  <div id="chat-display">
    {% for chat in chats %}
      <div class="chat-post" id="chat-post-template">
        <div class="chat-picture" style="background-image: url(../static/img/{{ chat[3] }})"></div>
        <div class="chat-user">{{ chat[0] }}</div><div class="chat-time">{{ chat[1] }}</div>
        <br/>
        <div class="chat-msg">{{ chat[2] }}</div>
      </div>
    {% endfor %}
    <div class="chat-post" id="chat-post-template" style="display: none">
      <div class="chat-picture"></div>
      <div class="chat-user"></div><div class="chat-time"></div>
      <br/>
      <div class="chat-msg"></div>
    </div>
  </div>
  <textarea id="chat-input" placeholder="Message group"></textarea>
  <!-- <button onclick="post()">send</button> -->

  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
  <script type="text/javascript" charset="utf-8">
  var socket = io.connect('http://' + document.domain + ':' + location.port);
  socket.on('json', function(data) {
    if(data.token == 'invalid') {
      window.location = '/login';
    }
  });
  socket.on('post', function(data) {
    var display = document.getElementById('chat-display');
    var new_post = document.getElementById('chat-post-template').cloneNode(true);
    new_post.style = '';
    new_post.getElementsByClassName('chat-user')[0].innerHTML = data.user;
    new_post.getElementsByClassName('chat-time')[0].innerHTML = data.time;
    new_post.getElementsByClassName('chat-msg')[0].innerHTML = data.msg;
    new_post.getElementsByClassName('chat-picture')[0].style = 'background-image: url(\'../img/static/' + data.picture + '\')';

    display.appendChild(new_post);
    display.scroll(0, display.scrollHeight)
  });
  function post() {
    message = document.getElementById("chat-input").value;
    document.getElementById("chat-input").value = '';
    console.log("Sending: ", {token: getCookie('token'), msg: message});
    ret = socket.emit("chat", {token: getCookie('token'), msg: message});
    console.log(ret)
  }
  document.getElementById('chat-input').onkeyup = function(e) {
      if (e.keyCode === 13) {
          post();
      }
  };

  function openChat() {
    document.getElementById('chat').style.marginBottom = "0";
    document.getElementById('chat-minimize').onclick = closeChat;
    document.getElementById('chat-minimize').innerHTML = "-";
  }
  function closeChat() {
    document.getElementById('chat').style.marginBottom = (42 - document.getElementById('chat').scrollHeight) + "px";
    document.getElementById('chat-minimize').onclick = openChat;
    document.getElementById('chat-minimize').innerHTML = "^";
  }
  display = document.getElementById("chat-display");
  display.scroll(0, display.scrollHeight)
  </script>
</section>
