<html>

  <head>
    <title>Fakebook - Cybersecurity Club</title>
    <link rel="stylesheet" href="../static/main.css"/>
  </head>

  <body>
    <section id="header">
      <div id="title">
        <img src="../logo.png" id="logo"></img> Fakebook
      </div>
      <a id="logout" class="nostyle" href="login">
        Logout
      </a>
    </section>
    <section id="main">
      <div id="profile">
        <div id="picture" style="background-image: url('../cat.jpg');">
        </div>
        <div id="name">
          Jane Doe
        </div>
      </div>
      <div id="feed">
        Feed:
        <div class="post">
          <div class="time">
            May 12, 1992
          </div>
          Test post!
        </div>
        <form method='POST' class="post">
          <input type="text" name="text">
          <input type="submit" value="Submit">
        </form>
      </div>
    </section>
    <section id="footer">
      Copyright 2018 CU Cybersecurity Club. For educational purposes only.
    </section>
  </body>

</html>
