<html>
  {% include 'head.html' %}

  <body>
    {% include 'ctf.html' %}
    <section id="header">
      <a id="title" class="nostyle" href="/">
        <img src="/static/img/logo.png" id="logo"></img> Fakebook
      </a>

      <div id="login">
        {% if invalid_password %}
          <span style="color: red">Invalid login!</span>
        {% else %}
          Login:
        {% endif %}
        <form action="login" method="POST">
          <input type="text" name="username" placeholder="Username"><br>
          <input type="password" name="password" placeholder="Password"><br>
          <input type="submit" value="Submit">
        </form>
      </div>
      <a href="/signup" class="nostyle">
        <div id="signup-button">
          Create Account
        </div>
      </a>
    </section>
    <section id="main">
      <div id="login-welcome">
        Welcome to Fakebook beta!
      </div>
    </section>
    {% include 'footer.html' %}
  </body>

</html>
