<html>
  {% include 'head.html' %}

  <body>
    {% include 'ctf.html' %}
    <section id="header">
      <a id="title" class="nostyle" href="/">
        <img src="../static/logo.png" id="logo"></img> Scoreboard
      </a>
      <a href="/" class="nostyle">
        <div id="scoreboard-back">
          Back
        </div>
      </a>
    </section>
    <section id="main">
      <div id="scoreboard">
        <table>
          <thead>
            <th>User</th>
            <th>Score</th>
            {% for (ident, score, name, description) in achievements %}
              <th><div class="tooltip">{{ name }}<span class="tooltiptext">{{ description }}</span></div><br/>{{ score }} pts</th>
            {% endfor %}
          </thead>
          <tbody>
            {% for (player, achieved, score) in players %}
              <tr>
                <td>{{ player }}</td>
                <td>{{ score }}</td>
                {% for (ident, _, _, _) in achievements %}
                  <td>
                    {% if ident in achieved %}&#10004;{% endif %}
                  </td>
                {% endfor %}
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </section>
    {% include 'footer.html' %}
  </body>

</html>
