<html>
  {% include 'head.html' %}

  <body>
    {% include 'ctf.html' %}
    <section id="header">
      <a id="title" class="nostyle" href="/">
        <img src="/static/img/logo.png" id="logo"></img> Scoreboard
      </a>
      <a href="/" class="nostyle">
        <div id="scoreboard-back">
          Back
        </div>
      </a>
    </section>
    <section id="main">
      <div id="scoreboard">
        <table>
          <thead>
            <th>User</th>
            <th>Score</th>
            {% for (ident, score, name, description) in achievements %}
              <th><div class="tooltip">{{ name }}<span class="tooltiptext">{{ description }}<br/>{{ score }} pts</span></div></th>
            {% endfor %}
          </thead>
          <tbody>
            {% for (player, score, achieved) in players %}
              <tr>
                <td>{{ player }}</td>
                <td>{{ score }}</td>
                {% for is_achieved in achieved %}
                <td>
                	{% if is_achieved > 0 %}&#10004;{% endif %}
                </td>
                {% endfor %}
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </section>
    {% include 'footer.html' %}
  </body>

</html>
